.header {
  background-color: #ed1b2e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.logoContainer {
  background-color: white;
}
.logoList {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  border-top: 4px solid #ed1b2e;
  border-bottom: 4px solid #ed1b2e;
}

@media screen and (max-width: 1200px) {
  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 660px) {
  .logos {
    align-items: normal;
    padding: 10px 5px;
  }
  .logoList {
    width: 50px;
    height: 100%;
    display: block;
    margin: 5px auto;
  }
}

.predictionContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin: 40px;
}
.formLabel {
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
}
.predictionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
