.container {
  position: relative;
}
.h2 {
  font-size: 3rem;
  margin: 5px 0;
}
.yellowText{
  color: #f1a900;
  padding: 0;
}
.header {
  background-color: #ed1b2e;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.mainContainer{
  display: flex;
  flex-wrap: wrap;
}
.logoContainer {
  background-color: white;
}
.logoList {
  width: 80px;
  height: 100%;
  display: block;
  margin: 10px;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  border-top: 4px solid #ed1b2e;
  border-bottom: 4px solid #ed1b2e;
}

.predictionContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}
.formContainer > button {
  width: 50%;
}
.formGroup {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  width: 50%;
}
.formLabel {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.formGroup>select{
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px whitesmoke;
  color: #ed1b2e;
  font-weight: bold;
  text-align: center;
}
.button{
  height: 30px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 2px whitesmoke;
  max-width: 300px;
}
.button:hover{
  background-color: lightgray;
}
.formGroup  option{
  background-color: whitesmoke;
  color: rgb(95, 95, 95);
  font-weight: bold;
}
.predictionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.predictionContainer > h3 {
  font-weight: 400;
  text-align: center;
}

.upcomingContainer{
  display: block;
  text-align: center;
  padding: 0 0 20px 0;
  width: 40%;
}

.upcomingList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.upcomingGame{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:10px;
  font-size: 12px;
  border: 1px white solid;
  margin: 10px;
  border-radius: 10px;
}
.upcomingGame p{
  margin:0;
}

.upcomingGame>div{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.upcomingGame>div>h4{
  margin: 10px 0;
}

.upcomingGame>div h3{
  margin: 5px 0;
  color: #ed1b2e;
}


.footer {
  position: relative;
  bottom: 0;
  padding: 20px;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .logos {
      flex-wrap: wrap;
  }
  .upcomingContainer{
    width: 100%;
  }
}
@media screen and (max-width: 660px) {
  .logos {
    align-items: normal;
    padding: 10px 5px;
  }
  .logoList {
    width: 50px;
    height: 100%;
    display: block;
    margin: 5px auto;
  }
  .formContainer{
    flex-wrap: nowrap;
  }
  .formGroup{
    width: 100%;
  }
  .upcomingList{
    display: grid;
    grid-template-columns: 1fr 1fr;
  
  }
}